language: node_js

sudo: false

node_js:
# track down segfaults per https://travis-ci.org/mapbox/node-mbtiles/jobs/36595376
# - "0.11"
 - "0.10"

before_install:
 - true

install:
 - true

before_script:
 - true

script:
 - npm install
 - npm test
